### Tuple

- Tuple is ordered, indexed and immutable datatype.
- Duplicate Elements are allowed
- Tuple elements is of any type

In [23]:
# how to create tuple
t1=(1,3,5.6,"hi",6j,True)
# print the Tuple
print(t1)

(1, 3, 5.6, 'hi', 6j, True)

In [24]:
# check the type of tuple
print(type(t1))
# check the length of tuple
print(len(t1))
# print 3rd element i.e 5.6 with Positive Indexing
print(t1[2])
#print 3rd element i.e 5.6 with Negative Indexing
print(t1[-4])
# print all elements from tuple starting with 3
print(t1[1:])

<class 'tuple'>
6
5.6
5.6
(3, 5.6, 'hi', 6j, True)

In [26]:
# print all tuple elements till 6j
print(t1[0:5])
print(t1[:5])

(1, 3, 5.6, 'hi', 6j)
(1, 3, 5.6, 'hi', 6j)

In [30]:
# make a slice of t1 with 5.6 and "hi" & make the new subtuple
print(t1[-4:-2])
t2=t1[-4:-2]
print(t2)

(5.6, 'hi')
(5.6, 'hi')

##### Change the tuple items
- once tuple is created, elements will not be modified but there is an alternative to modify the elements of tuple

- convert tuple to list, modify list and reconvert that list  to tuple

In [41]:
# print tuple t2 and its type
print(t2)
print(type(t2))

(5.6, 'hello')
<class 'tuple'>

In [38]:
# convert tuple to list using type casting
l1=list(t2)
print(l1)
print(type(l1))
# modify the elements and print it
l1[-1]="hello"
print(l1)
print(type(l1))

[5.6, 'hi']
<class 'list'>
[5.6, 'hello']
<class 'list'>

In [39]:
# reconvert list to tuple
t2=tuple(l1)

In [40]:
print(t2)
print(type(t2))

(5.6, 'hello')
<class 'tuple'>

In [51]:
# print all elements of tuple using loops
for i in t1:
    print(i,end=" ")

1 3 5.6 hi 6j True

In [53]:
# check 6j is present in t1 or not
print(6j in t1)
print(5j in t1)

True
False

In [54]:
# add new items fails, verify it
t1[6]="dbms"

TypeError: 'tuple' object does not support item assignment

In [56]:
# count number of elements in tuple
print(t1.count(6j))
print(t1.count(5j))

1
0

In [60]:
# create tuple with only 1 element, print tuple and type

t3=("python",)

In [62]:
print(t3)
type(t3)

('python',)

tuple

In [66]:
# remove elements from tuple - not possible
# you can go for converting tuple to list, deletion
# from list and reconverting list back to tuple
print(t1)

(1, 3, 5.6, 'hi', 6j, True)

In [68]:
# delete entire tuple
del t2

In [70]:
# how to join tuples
# take first tuple
t4=(4,5,6)
print(type(t4))
print(t4)
# take second tuple
t5=("a","b","c")
print(type(t5))
print(t5)

<class 'tuple'>
(4, 5, 6)
<class 'tuple'>
('a', 'b', 'c')

In [71]:
# join tw tuples
t6=t4+t5
print(type(t6))
print(t6)

<class 'tuple'>
(4, 5, 6, 'a', 'b', 'c')

##### Tuples can be joined together but 1 tuple and 1 list wil not be concatinated

In [74]:
# how to create tuple with tuple() constructor
tuple1=tuple((23,4.5,"te3"))

In [75]:
print(tuple1)
print(type(tuple1))

(23, 4.5, 'te3')
<class 'tuple'>

##### tuple Methods

- There are 2 methods available for tuple 1. count 2. index

In [76]:
t1=(44,2,66,8,9,23,8)

In [80]:
# count Method
print("count of 8 is :", t1.count(8))
print("count of 66 is :", t1.count(66))

count of 8 is : 2
count of 66 is : 1

In [83]:
# index method
print("index of 8 is :", t1.index(8))
print("index of 66 is :", t1.index(66))
print("index of 54 is :", t1.index(54))

index of 8 is : 3
index of 66 is : 2

ValueError: tuple.index(x): x not in tuple

In [85]:
# how to delete entire tuple
del t1
print(t1)

NameError: name 't1' is not defined

## Sets in python

- set is unordered datatype
- set is uninxed datatype
- set is mutable for only few operations(u,i,d,sd)
- set allows different type of elements
- duplicate elements are not allowed
- {} is used to represent a set

In [101]:
# create a set
set1={1,3,2,4,2,5.6,"str element"}

In [102]:
print(set1)
print(type(set1))
print(len(set1))

{1, 2, 3, 4, 'str element', 5.6}
<class 'set'>
6

In [106]:
# print all set elements using for loop
for i in set1:
    print(i,end=" ")

1 2 3 4 str element 5.6

In [108]:
# check element exist in set or not
print(5.6 in set1)
print(5.63 in set1)

True
False

##### modify set elements - 
- set does not allows changes in element, but you can add new items at last using add method
- Existing elements will not be modified

In [110]:
# Existing elements will not be modified
set1[1]=9

TypeError: 'set' object does not support item assignment

In [111]:
set1

{1, 2, 3, 4, 5.6, 'str element'}

In [118]:
# new element in set can be added
set1.add(4.56)

In [117]:
set1

{1, 2, 3, 4, 4.56, 5.6, 'str element'}

In [120]:
# how to add multiple elements in set
set1.update(["hi","amol",34,2+3j,True])

In [122]:
print(set1)
print(len(set1))

{1, 2, 3, 4, 'str element', 'amol', 34, (2+3j), 5.6, 'hi', 4.56}
11

##### remove set elements

In [123]:
# using remove method - 
set1.remove("str element")

In [124]:
print(set1)

{1, 2, 3, 4, 'amol', 34, (2+3j), 5.6, 'hi', 4.56}

In [125]:
# using discard method remove elements
set1.discard("hi")

In [126]:
print(set1)

{1, 2, 3, 4, 'amol', 34, (2+3j), 5.6, 4.56}

In [128]:
# remove by pop() method
set1.pop()

1

In [129]:
# assigning 1 set to another set creates reference
# it doesnot create the copy
set2=set1

In [131]:
set2.add("new set")

In [132]:
set2

{(2+3j), 2, 3, 34, 4, 4.56, 5.6, 'amol', 'new set'}

In [133]:
set1

{(2+3j), 2, 3, 34, 4, 4.56, 5.6, 'amol', 'new set'}

In [134]:
# To make set copy 
set3=set1.copy()

In [135]:
set3

{(2+3j), 2, 3, 34, 4, 4.56, 5.6, 'amol', 'new set'}

In [136]:
set3.remove("new set")

In [137]:
set1

{(2+3j), 2, 3, 34, 4, 4.56, 5.6, 'amol', 'new set'}

In [138]:
# how to clear the set
print(set3)
set3.clear()

{2, 3, 4, 'amol', 34, (2+3j), 5.6, 4.56}

In [139]:
print(set3)

set()

In [140]:
# how to delete entire set
del set2

In [141]:
print(set2)

NameError: name 'set2' is not defined

##### How to perform operations on two or more sets
- Union
- Insersection
- difference
- issubset
- issuperset
- isdisjoint
- symmetric_difference

In [144]:
# Let us consider we have following two sets
setA={"apple","banana","mango"}
setB={"google","microsoft","apple"}
print("Set A:",setA)
print("Set B:",setB)

Set A: {'mango', 'apple', 'banana'}
Set B: {'apple', 'google', 'microsoft'}

In [145]:
# Union
UnionSet=setA.union(setB)
print(UnionSet)

{'mango', 'apple', 'google', 'microsoft', 'banana'}

In [147]:
# Intersection
IntersectionSet=setA.intersection(setB)
print(IntersectionSet)

{'apple'}

In [148]:
# difference
diff_set=setA.difference(setB)
print(diff_set)

{'mango', 'banana'}

In [149]:
# symmetric Difference
symm_diff_set=setA.symmetric_difference(setB)
print(symm_diff_set)

{'mango', 'banana', 'google', 'microsoft'}

In [151]:
setC={"coa","os","c","ds","dbms",'python',"ml","java"}
setD={"c",'python',"java"}
print("setC:",setC)
print("setD:",setD)

setC: {'os', 'ds', 'python', 'dbms', 'c', 'coa', 'ml', 'java'}
setD: {'python', 'java', 'c'}

In [154]:
# is subset
print(setD.issubset(setC))
print(setC.issubset(setD))

True
False

In [155]:
# is superset
print(setD.issuperset(setC))
print(setC.issuperset(setD))

False
True

In [157]:
# is disjoint
print(setA.isdisjoint(setC))
print(setA.isdisjoint(setB))

True
False

## Dictionary

- Dictionary is unordered
- it is changable
- {} is used to create dictionaries
- Elements will be in the forms of "key:value" pair

In [159]:
# create dictionary

In [164]:
vehicle_dict={
    "brand":"BMW",
    "model":"720d",
    "year":2010,
    "price":5400000.00
}

In [165]:
# print dictionary
print(vehicle_dict)

{'brand': 'BMW', 'model': '720d', 'year': 2010, 'price': 5400000.0}

In [168]:
# access elements of dictionary
print(vehicle_dict["brand"])
print(vehicle_dict["model"])
print(vehicle_dict["year"])
print(vehicle_dict["price"])

BMW
720d
2010
5400000.0

In [170]:
# display values of dictionary using get() method
print(vehicle_dict.get("model"))
print(vehicle_dict.get("price"))

720d
5400000.0

In [171]:
# Change items - change year to 2018 from 2010
vehicle_dict["year"]=2018

In [172]:
print(vehicle_dict)

{'brand': 'BMW', 'model': '720d', 'year': 2018, 'price': 5400000.0}

In [173]:
# print dictionary elements using loops
# print only key of dictionary
for i in vehicle_dict:
    print(i)

brand
model
year
price

In [174]:
# print only values of dictionary
for i in vehicle_dict:
    print(vehicle_dict[i])

BMW
720d
2018
5400000.0

In [177]:
# print only values of dictionary using value() method
for i in vehicle_dict.values():
    print(i)

BMW
720d
2018
5400000.0

In [179]:
# print both keys and values using loop
for i,j in vehicle_dict.items():
    print(i,j)

brand BMW
model 720d
year 2018
price 5400000.0

In [180]:
#legnth of dictionary
print(len(vehicle_dict))

4

In [184]:
# check the key present in dictionary or not
print("price" in vehicle_dict)
print("owner" in vehicle_dict)

True
False

In [185]:
# check the value present in dictionary or not
print(2018 in vehicle_dict.values())
print("samrat" in vehicle_dict.values())

True
False

In [186]:
# how to add new item into dictionary
vehicle_dict["owner"]="samrat"

In [187]:
print(vehicle_dict)

{'brand': 'BMW', 'model': '720d', 'year': 2018, 'price': 5400000.0, 'owner': 'samrat'}

##### Remove items from dictionary

In [188]:
vehicle_dict.pop("year")

2018

In [189]:
print(vehicle_dict)

{'brand': 'BMW', 'model': '720d', 'price': 5400000.0, 'owner': 'samrat'}

In [190]:
# remove item using del keyword
del vehicle_dict["price"]

In [191]:
print(vehicle_dict)

{'brand': 'BMW', 'model': '720d', 'owner': 'samrat'}

In [192]:
temp_=vehicle_dict.copy()

In [193]:
print(temp_)

{'brand': 'BMW', 'model': '720d', 'owner': 'samrat'}

In [194]:
# delete entire dictionary
del temp_

In [196]:
# clear dictionary
temp_dict=vehicle_dict.copy()
temp_dict.clear()

In [197]:
print(temp_dict)

{}

In [199]:
# make copy of dictionary usind dict() function
new_dict=dict(vehicle_dict)
print(new_dict)

{'brand': 'BMW', 'model': '720d', 'owner': 'samrat'}

In [202]:
new_dict["model"]

'720d'

In [203]:
# how to create nested dictionaries
# create 4 dictionaries for your mobile, TV, vehicle
# and laptop with 4 parameters each. merge all these 4 
# sub dictionaries into only 1 called my_dict

In [207]:
# mobile Dictionary
mob_dict={
    "brand":"Panasonic",
    "model":"P55Max",
    "year":2017,
    "no_of_sim":2
}

In [209]:
# TV Dictionary
tv_dict={
    "brand":"Samsung",
    "model":"i dont know model",
    "year":2016,
    "type":"LED"
}

In [210]:
# Vehicle Dictionary
veh_dict={
    "brand":"Hero Honda",
    "model":"CBZ Extreme",
    "year":2014,
    "color":"red"
}

In [211]:
# Laptop Dictionary
laptop_dict={
    "brand":"HP",
    "model":"dont know",
    "year":2015,
    "color":"gray"
}

In [212]:
my_own_items_dict={
    "mob_dict":mob_dict,
    "tv_dict":tv_dict,
    "veh_dict":veh_dict,
    "laptop_dict":laptop_dict
}

In [213]:
print(my_own_items_dict)

{'mob_dict': {'brand': 'Panasonic', 'model': 'P55Max', 'year': 2017, 'no_of_sim': 2}, 'tv_dict': {'brand': 'Samsung', 'model': 'i dont know model', 'year': 2016, 'type': 'LED'}, 'veh_dict': {'brand': 'Hero Honda', 'model': 'CBZ Extreme', 'year': 2014, 'color': 'red'}, 'laptop_dict': {'brand': 'HP', 'model': 'dont know', 'year': 2015, 'color': 'gray'}}

In [221]:
# one more way to create dictionary using Constructor
new_dict1=dict(name="amol",city="panvel")
print(new_dict1)

{'name': 'amol', 'city': 'panvel'}

In [222]:
# delete entire dictionary
del new_dict1

In [223]:
del new_dict