### Boolean

In [3]:
# boolean has two values  -True or false
print(10>3)
print(4<=67)
print(5<2)

True
True
False

In [4]:
a=10
b=15
if(a<b):
    print("a is less than b")
else:
    print("a is not less than b")

a is less than b

In [11]:
print(bool(True))
print(bool(False))
print(bool(1))
print(bool(0))
print(bool(45))

True
False
True
False
True

In [33]:
print(bool(-54))
print(bool("hi"))
print(bool("hi ncjsdbfj"))
print(bool(""))
print(bool(" "))

True
True
True
False
True

In [35]:
print(bool(123))
print(bool(["apple","cherry","blackberry"]))
print(bool([]))

True
True
False

In [37]:
### most important - Always Remember
#[] -> list
#() - > tuple
#{vala,val2,val3} -> set
#{key:value,key:value} -> dict

In [36]:
print(bool(()))
print(bool({}))
print(bool({1,2}))
print(bool(None))

False
False
True
False

In [77]:
str1="%%^"
print(str1.isalnum())
str1="hello"
print(str1.isalnum())

False
True

#### Conslusion
- Most of boolean values are True
- Some boolean Values are False

### Operators

##### Python Supports 7 different types of Operators
- Arrithmetic Operators
- Assignment Operators
- Comparision Operators
- Logical Operators
- Identity Operators
- Membership Operators
- Bitwise Operators

Lets Discuss one by one
##### Arrithmetic Operators

In [40]:
name=input("Enter your name:")
print("Welcome "+name+" We are learning arrithmetic operators..")
num1=int(input("Enter Number1:"))
num2=int(input("Enter Number2:"))
print("Addition is:",num1+num2)
print("Subtraction is:",num1-num2)
print("Multiplication is:",num1*num2)
print("Division is:",num1/num2)
print("Remainder is:",num1%num2)
print("Exponentiation is:",num1**num2)
print("Floor Division is:",num1//num2)

Enter your name:Swami
Welcome Swami We are learning arrithmetic operators..
Enter Number1:43
Enter Number2:19
Addition is: 62
Subtraction is: 24
Multiplication is: 817
Division is: 2.263157894736842
Remainder is: 5
Exponentiation is: 10861771343660416614908294685907
Floor Division is: 2

##### Assignment Operators

In [42]:
# python have 13 Assignment Operators
a=10
print(a)
a+=5  # a=a+5
print(a)
a-=7  # a=a-5
print(a)
a*=4  # a=a*5
print(a)
a/=3  # a=a/5
print(a)
a%=4   # a=a%5
print(a)
a//=3   # a=a//5
print(a)
a**=5   # a=a**5
print(a)

10
15
8
32
10.666666666666666
2.666666666666666
0.0
0.0

In [49]:
# & - Bitwise and, | -bitwise OR, ^ - bitwise XOR, 
a=2
print(a)
a&=3  # a=a&3, a=2&3, a=010 & 011, a=010, a=2
print(a)
a|=4  # a=a|4, a=2|4, a=010 | 100, a=110, a=6
print(a)
a^=5  # a=a^5, a=6^5, a=110 ^ 101, a=011, a=3
print(a)

# this is right shift -> to make number half
a>>=1  # a=a>>1, a=3>>1, a=001, a=1
print(a)

# this is left shift -> to double the number
a<<=5
print(a)

2
2
6
3
1
32

In [52]:
"""
>> - Right shift -halfs the number
<< - Left Shift - double the number
"""

'\n>> - Right shift -halfs the number\n<< - Left Shift - double the number\n'

##### Comparision Operators

We have 6 comparision operators 
- Equal to (==)
- Not Equal to (!=) 
- Greater Than (>)
- Less than (<)
- Greator than equal to (>=) 
- Less than equal to (<=)

In [55]:
num1=23
num2=34
print(num1==num2);print(num1!=num2)
print(num1>num2);print(num1<num2)
print(num1>=num2);print(num1<=num2)

False
True
False
True
False
True

##### Logical Operators

We have 3 logical operators
- and
- or
- not

In [56]:
# Logical and
marks=65
if marks>60 and marks < 75:
    print(" First Class")

 First Class

In [57]:
# Logical or
marks=65
if marks<60 or marks < 75:
    print(" Not Distinction")

 Not Distinction

In [59]:
# Logical not
marks=65
print(not(marks>60 and marks < 75))

False

##### Identity Operators

we have 2 Identity operators
1. is
2. is not

In [63]:
num1=45
num2=45
print(num1 is num2)
print(num1 is not num2)
num1=45
num2=65
print(num1 is num2)
print(num1 is not num2)

True
False
False
True

##### Membership Operators
1. in
2. not in

In [72]:
# lets consider we have a set and check elements are in set or not
set1={23,4,66,7,12,99}
print(234 in set1)
print(7 in set1)
print(66 not in set1)
print(77 not in set1)

False
True
False
True

In [73]:
# lets consider we have a list and check elements are in set or not
list1=["apple","grapes","kiwy"]
print("kiwy" in list1)
print("orange" in list1)
print("kiwy" not in list1)
print("orange" not in list1)

True
False
False
True

In [74]:
# lets consider we have a Tuple&check elements are in tuple or not
tuple1=(23,4,66,7,12,99)
print(234 in tuple1)
print(999 not in tuple1)

False
True

##### Bitwise Operators

We have 6 bitwise operators
1. AND (&)
2. OR (|)
3. XOR (^)
4. NOT (~)
5. Left Shif (<<)
6. Right Shift (>>)

## List

In [91]:
# list is ordered collection of dissimilar data elements
# list are indexed
# list are changeable i.e mutable
# list are ordered
# [] are used to create list
gen_list=["apple","mango",65.76,8j,"kiwy","orange",54]
# PI         0        1      2    3    4     5       6
# NI          -7      -6    -5    -4   -3   -2       -1
# PI starts with 0 and it will be from left to Right
# NI starts with -1 and it will  be from Right to Left

In [90]:
print(type(gen_list))
print(len(gen_list))

<class 'list'>
7

##### How to access Elements of List
1. Positive Indexing
2. Negative Indexing

In [93]:
# print Mango
print(gen_list[1])
print(gen_list[-6])

mango
mango

##### Slicing

In [95]:
# print list elements from 65.76 to all remaining elements
print(gen_list[2:])
print(gen_list[-5:])

[65.76, 8j, 'kiwy', 'orange', 54]
[65.76, 8j, 'kiwy', 'orange', 54]

In [102]:
# print all list elements till kiwy(include kiwy)
print(gen_list[:5])
print(gen_list[:-2])

['apple', 'mango', 65.76, 8j, 'kiwy']
['apple', 'mango', 65.76, 8j, 'kiwy']

In [103]:
# Print mango to Orange is PI and NI (Include Both)
print(gen_list[1:6])
print(gen_list[-6:-1])

['mango', 65.76, 8j, 'kiwy', 'orange']
['mango', 65.76, 8j, 'kiwy', 'orange']

In [106]:
# create another list which will contain kiwy and orange element
second_list=gen_list[4:6]
print(second_list)
print(len(second_list))

['kiwy', 'orange']
2

In [114]:
# create apple &orange sublist (concat this way is not recommened )
sublist1=gen_list[0]
sublist2=gen_list[5]
sublist=sublist1+" "+sublist2
print(sublist)
print(len(sublist))

apple orange
12

##### what is True about list
1. List can have any number of elements
2. Elements can be of different types (int,float,str,complex etc)
3. List can have list as a element

In [121]:
## Multidimensional List
numbers=[[1,2],["three","four"],[5.0,6.0]]
 #          0            1           2

In [117]:
numbers[1]

['three', 'four']

In [120]:
print(numbers[2][0])
print(numbers[0][1])

5.0
2

In [122]:
numbers[5]

IndexError: list index out of range

In [123]:
gen_list=["apple","mango",65.76,8j,"kiwy","orange",54]

In [136]:
# print the list using loops
for i in gen_list:
    print(i, end=",")

apple,mango,65.76,8j,kiwy,orange,54,

In [140]:
# check element exist in the list or not?
print("kiwy" in gen_list)

True

In [141]:
# length of List
print(len(gen_list))

7

In [150]:
# Add new item in the list
gen_list.append("pineapple")
print(gen_list)

['apple', 'mango', 65.76, 8j, 'kiwy', 'orange', 54, 'pineapple']

In [151]:
# insert at specific index
gen_list.insert(2,"banana")
print(gen_list)

['apple', 'mango', 'banana', 65.76, 8j, 'kiwy', 'orange', 54, 'pineapple']

In [152]:
# how to remove list elements
gen_list.remove(8j)
print(gen_list)

['apple', 'mango', 'banana', 65.76, 'kiwy', 'orange', 54, 'pineapple']

In [153]:
# removing element using pop with index
gen_list.pop(3)
print(gen_list)

['apple', 'mango', 'banana', 'kiwy', 'orange', 54, 'pineapple']

In [154]:
# removing element using pop without index
gen_list.pop()
print(gen_list)

['apple', 'mango', 'banana', 'kiwy', 'orange', 54]

In [155]:
# deleting element using del function with index
del gen_list[5]
print(gen_list)

['apple', 'mango', 'banana', 'kiwy', 'orange']

In [168]:
# this will only create reference to original list
# list will not copied
copied_list=gen_list
print(copied_list)
gen_list.append("blueberry")
gen_list

['apple', 'mango', 'banana', 'kiwy', 'orange']

In [160]:
copied_list

['apple', 'mango', 'banana', 'kiwy', 'orange', 'blueberry']

In [169]:
# proper way to copy the list
new_list=gen_list.copy()

In [170]:
new_list

['apple', 'mango', 'banana', 'kiwy', 'orange']

In [171]:
gen_list

['apple', 'mango', 'banana', 'kiwy', 'orange']

In [173]:
gen_list.remove("banana")

In [174]:
gen_list

['apple', 'mango', 'kiwy', 'orange']

In [175]:
new_list

['apple', 'mango', 'banana', 'kiwy', 'orange']

In [176]:
# how to clear a list - remove all elements from list
new_list.clear()
print(new_list)

[]

In [177]:
# how to join list
pl_subjects=["C","C++","Python","JAVA","C#.net","JAVASCRIPT","R"]
core_subjects=["DBMS","DS","OS","Algo"]
print(pl_subjects)
print(core_subjects)

['C', 'C++', 'Python', 'JAVA', 'C#.net', 'JAVASCRIPT', 'R']
['DBMS', 'DS', 'OS', 'Algo']

In [178]:
# Joining by concatination
all_subjects=pl_subjects+core_subjects
print(all_subjects)
print(len(all_subjects))

['C', 'C++', 'Python', 'JAVA', 'C#.net', 'JAVASCRIPT', 'R', 'DBMS', 'DS', 'OS', 'Algo']
11

In [179]:
all_subjects

['C',
 'C++',
 'Python',
 'JAVA',
 'C#.net',
 'JAVASCRIPT',
 'R',
 'DBMS',
 'DS',
 'OS',
 'Algo']

In [180]:
# joining list using loops
print(pl_subjects)
print(core_subjects)

['C', 'C++', 'Python', 'JAVA', 'C#.net', 'JAVASCRIPT', 'R']
['DBMS', 'DS', 'OS', 'Algo']

In [181]:
for i in pl_subjects:
    core_subjects.append(i)
print(core_subjects)

['DBMS', 'DS', 'OS', 'Algo', 'C', 'C++', 'Python', 'JAVA', 'C#.net', 'JAVASCRIPT', 'R']

In [182]:
# joing by extend method
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [183]:
# how to create list using constructor way
list1=["a","b","c"]  # normal way to create list
print(list1)
list2=list(("a","b","c"))  # constructor way to create list
print(list2)

['a', 'b', 'c']
['a', 'b', 'c']