### To connect Mysql with python, driver is needed and that driver name is mysql-connector

In [1]:
# Install Mysql Driver -> Mysql-Connector

In [2]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\administrator\appdata\local\programs\python\python36-32\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [12]:
# Test it i.e it is installed or not
import mysql.connector

In [27]:
# create connection
mydb=mysql.connector.connect(
host="localhost",
user="root",
passwd=""
)

In [18]:
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0613CD30>

In [28]:
# first Create cursor to hold data and execute query
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('carparkdemo',)
('empdb',)
('img',)
('login',)
('magento',)
('mydatabase',)
('mysql',)
('performance_schema',)
('prp',)
('rait',)
('sdemo',)
('test',)
('wordpress',)

In [20]:
# Create database named empDB
mycursor.execute("create DATABASE empDB")

In [21]:
# Show all databases
mycursor.execute("show databases")
for x in mycursor:
    print(x)

('information_schema',)
('carparkdemo',)
('empdb',)
('img',)
('login',)
('magento',)
('mydatabase',)
('mysql',)
('performance_schema',)
('prp',)
('rait',)
('sdemo',)
('test',)
('wordpress',)

In [22]:
# create connection to particular database
mydb1=mysql.connector.connect(
host="localhost",
user="root",
passwd="",
database="empdb"
)

In [23]:
mycursor1=mydb1.cursor()

In [25]:
# show all tables in empdb databases;
mycursor1.execute("show tables")
for x in mycursor1:
    print(x)

In [26]:
# create table emptable with column empID,empName,empAge
mycursor1.execute("create table emptable(empID int PRIMARY KEY,empName varchar(20),empAge int)")

In [31]:
# See the data from table
mycursor1.execute("select * from emptable")
result=mycursor1.fetchall()
for x in result:
    print(x)

In [38]:
# How to insert data into table
query = "INSERT INTO emptable VALUES (102,'avishkar',22)"
mycursor1.execute(query)
mydb.commit()

In [39]:
# See the data from table
mycursor1.execute("select * from emptable")
result=mycursor1.fetchall()
for x in result:
    print(x)

(101, 'yogesh', 21)
(102, 'avishkar', 22)

In [41]:
# how to insert many records
query1 = "INSERT INTO emptable VALUES (103,'avishkar',22)"
query2 = "INSERT INTO emptable VALUES (104,'avishkar',23)"
query3 = "INSERT INTO emptable VALUES (105,'pavan',22)"
query4 = "INSERT INTO emptable VALUES (106,'avishkar',22)"
query5 = "INSERT INTO emptable VALUES (107,'prathmesh',22)"
query6 = "INSERT INTO emptable VALUES (108,'avishkar',22)"
query7 = "INSERT INTO emptable VALUES (109,'avishkar',22)"
mycursor1.execute(query1)
mycursor1.execute(query2)
mycursor1.execute(query3)
mycursor1.execute(query4)
mycursor1.execute(query5)
mycursor1.execute(query6)
mycursor1.execute(query7)
mydb.commit()

In [42]:
# See the data from table
mycursor1.execute("select * from emptable")
result=mycursor1.fetchall()
for x in result:
    print(x)

(101, 'yogesh', 21)
(102, 'avishkar', 22)
(103, 'avishkar', 22)
(104, 'avishkar', 23)
(105, 'pavan', 22)
(106, 'avishkar', 22)
(107, 'prathmesh', 22)
(108, 'avishkar', 22)
(109, 'avishkar', 22)

In [43]:
# delete record from emptable
mycursor1.execute("delete from emptable where empid=105")
mydb1.commit()

In [44]:
# See the data from table
mycursor1.execute("select * from emptable")
result=mycursor1.fetchall()
for x in result:
    print(x)

(101, 'yogesh', 21)
(102, 'avishkar', 22)
(103, 'avishkar', 22)
(104, 'avishkar', 23)
(106, 'avishkar', 22)
(107, 'prathmesh', 22)
(108, 'avishkar', 22)
(109, 'avishkar', 22)